@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quoteIcon {
  display: inline-block;
  font-weight: 500;
  height: 1.25em;
  width: 1.25em;
  margin-right: 10px;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  transition: background-color ease-in 0.5s;
}

.quoteContainer {
  margin: 0 auto;
  max-width: 550px;
  padding: 40px 50px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: white;
}

.quotes {
  display: flex;
  flex-direction: column;
}

.quoteAuthor {
  display: flex;
  align-self: flex-end;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.mainQuote {
  font-weight: 500;
  font-size: 1.75em;
}

.quoteButton {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  border-radius: 3px;
  color: white;
  transition: background-color 0.3s;
}

.btns {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr {
  margin-right: 0.5em;
}

.iconBtn {
  background: white;
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  justify-content: center;
  background: black;
  transition: background-color 0.3s;
}

.tmblr {
  height: 20px;
  width: 10px;
  fill: white;
}

.twitter {
  height: 20px;
  width: 20px;
  fill: white;
}

.transition {
  opacity: 1;
  transition: ease-in 0.5s;
}

.fadeout {
  opacity: 0;
  transition: all 0.5s;
}
